.project__btn-switch {
  text-decoration: none;
  display: inline-block;
  font-weight: 600;
  letter-spacing: -0.05em;
  /* background-color: var(--clr-sky-blue); */
  color: var(--clr-light);
  padding: 0.5em 1em;
  border-radius: 6px;
  /* box-shadow: 0 10px 20px rgba(2, 132, 199, 0.5),
    0 6px 6px rgba(2, 132, 199, 0.5), 0 0 100px -10px var(--clr-sky-blue); */
}

.project__btn-switch:hover {
  border: 2px solid var(--clr-sky-blue);
  transition: transform 0.3s;
}

.project__btn-switch_selected {
  border: 2px solid var(--clr-sky-blue);
  transition: transform 0.3s;
}

.project__content-wrapper {
  border-left: 2px solid var(--clr-light);
}

.project__content {
  margin-top: 0.5rem;
  padding-left: 0.5rem;
}

.project__title {
  font-size: var(--size-base);
  color: var(--clr-sky-blue);
}

.project__title {
  font-size: var(--size-base);
  color: var(--clr-sky-blue);
}

.project__attribute {
  color: var(--clr-gray400);
  font-size: var(--size-xs);
  margin-bottom: 0.25em 0;
}

.project__description {
  color: var(--clr-gray600);
  font-size: var(--size-xs);
  margin-top: 0.5em;
}

.section__title {
}

.btn {
  font-size: 0.7rem;
}

.members__table-container {
  width: 100%;
  overflow-x: auto;
  max-width: 100%;
  border: 0.075rem solid var(--clr-gray600);
  border-radius: 5px;
  margin: 0.5em 0;
  padding: 0.5em;
  font-size: var(--size-xs);
}

/* table {
  width: 100%;
  border-collapse: collapse;
} */
