.project__title {
  font-size: var(--size-xl);
  color: var(--clr-light);
  width: 100%;
}

.project__menu {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  gap: 2em;
  padding: 1rem;
}

.project__btn {
  font-size: var(--size-sm);
  text-decoration: none;
  color: var(--clr-light);
  cursor: pointer;
}

.project__btn:hover {
  color: var(--clr-blue);
  transition: 0.3s;
}

.project__btn-selected {
  color: var(--clr-blue);
}

.project__about-container {
  display: flex;
  flex-direction: column;
}

.project__details-container {
  border-radius: 8px;
  padding-bottom: 1rem;
}

.project__details-title {
  color: var(--clr-gray400);
  background-color: var(--clr-gray800);
  font-size: var(--size-base);
  padding: 1rem;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.project__attribute {
  max-width: 60ch;
  color: var(--clr-gray600);
  font-size: var(--size-base);
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.project__description {
  max-width: 60ch;
  color: var(--clr-gray600);
  font-size: var(--size-base);
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;

}

#project__description-wrapper {
  border-bottom: 1px solid var(--clr-gray400);
}

.members__table-container {
  overflow-x: auto;
  width: 100%;
  max-width: 100%;
  padding: 1rem;
  color: var(--clr-gray600);
  font-size: var(--size-sm);
}

.members__table {
  width: 100%;
  border-collapse: collapse;
}

.members__table_body {
  border: 1px solid var(--clr-gray600);
  text-align: left;
}

.members__table_header-row {
  border: 1px solid var(--clr-gray600);
}

.members__table_header-row th {
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
}

.members__table_body tr td {
  border-top: 1px solid var(--clr-gray600);
  padding-left: 1rem;
  padding-right: 1rem;
  white-space: nowrap;
}

.members__table_pen {
  display: block;
  margin-right: auto;
  margin-left: auto;
  color: var(--clr-gray400);
  width: var(--size-sm);
  height: var(--size-sm);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.members__table_pen:hover {
  color: var(--clr-gray800);
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
@media (min-width: 640px) {
  .project__title {
    font-size: var(--size-2xl);
  }
  .project__menu {
    gap: 2.5em;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .project__btn {
    font-size: var(--size-base);
  }
  .project__details-title {
    font-size: var(--size-lg);
  }
  .project__attribute {
    font-size: var(--size-base);
  }
  .project__description {
    font-size: var(--size-lg);
  }
  .members__table-container {
    font-size: var(--size-lg);
  }
  .members__table_pen {
    width: var(--size-base);
    height: var(--size-base);
  }
}

/* m */
/* @media (min-width: 768px) {} */

/* lg */
@media (min-width: 1024px) {
  .project__title {
    font-size: var(--size-3xl);
  }
  .project__menu {
    gap: 3em;
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
  }
  .project__btn {
    font-size: var(--size-lg);
  }
  .project__about-container {
    flex-direction: row;
  }
  .project__details-title {
    font-size: var(--size-xl);
  }
  .project__attribute {
    font-size: var(--size-lg);
  }
  .project__description {
    font-size: var(--size-xl);
    border-right: 1px solid var(--clr-gray400);
  }
  #project__description-wrapper {
    border-bottom: none;
  }
  .members__table-container {
    font-size: var(--size-xl);
  }
  .members__table_pen {
    width: var(--size-lg);
    height: var(--size-lg);
  }
}

/* xl */
@media (min-width: 1280px) {
  .project__title {
    font-size: var(--size-4xl);
  }
  .project__menu {
    gap: 4em;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .project__btn {
    font-size: var(--size-xl);
  }
  .project__details-title {
    font-size: var(--size-2xl);
  }
  .project__attribute {
    font-size: var(--size-xl);
  }
  .project__description {
    font-size: var(--size-2xl);
  }
  .members__table-container {
    font-size: var(--size-2xl);
  }
  .members__table_pen {
    width: var(--size-xl);
    height: var(--size-xl);
  }
}

/* 2xl */
/* @media (min-width: 1536px) {} */
