/* Page format */
.projects__header-title {
  font-size: var(--size-lg);
  color: var(--clr-light);
  width: 100%;
  font-weight: 600;
}

/* Projects Format */
.projects__container {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
}
.projects__wrapper {
  position: relative;
  border: 0.075rem solid var(--clr-gray600);
  border-radius: 5px;
  padding: 0.5rem;
}
.projects__wrapper::after {
  content: "";
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  transition: background-color 0.3s;
}
.projects__wrapper:hover::after {
  background-color:rgb(37, 99, 235, 0.1);
  cursor: pointer;
}
.projects__link {
  text-decoration: none;
}

/* Projects Content */
.projects__title {
  font-size: var(--size-base);
  color: var(--clr-primary);
  font-weight: 600;
}
.projects__hr {
  border-color: var(--clr-gray600);
}
.projects__attribute-container {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  color: var(--clr-light);
}
.projects__description {
  max-width: 60ch;
  color: var(--clr-gray600);
  font-size: var(--size-xs);
}
.projects__attribute-hr {
  margin-top: var(--size-xs);
  margin-bottom: var(--size-xs);
  border-color: var(--clr-gray600);
}
.projects__icon {
  height: var(--size-xs);
  width: var(--size-xs);
}
.projects__attribute {
  color: var(--clr-light);
  font-size: var(--size-xs);
  text-transform: capitalize;
  display: inline;
  padding-right: var(--size-xs);
}

/* xs */
@media (min-width: 475px) {
  .projects__header-title {
    font-size: var(--size-xl);
  }
  .projects__container {
    margin-top: 1.5rem;
    gap: 1.5rem;
  }
  .projects__title {
    font-size: var(--size-lg);
  }
  .projects__description {
    font-size: var(--size-sm);
  }
  .projects__attribute-hr {
    margin-top: var(--size-sm);
    margin-bottom: var(--size-sm);
  }
  .projects__icon {
    height: var(--size-sm);
    width: var(--size-sm);
  }
  .projects__attribute {
    font-size: var(--size-sm);
    padding-right: var(--size-sm);
  }
}

/* sm */
@media (min-width: 640px) {
  .projects__container {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}

/* m */
/* @media (min-width: 768px) {} */

/* lg */
@media (min-width: 1024px) {
  .projects__header-title {
    font-size: var(--size-2xl);
  }
  .projects__container {
    margin-top: 2;
    gap: 2;
  }
  .projects__title {
    font-size: var(--size-xl);
  }
  .projects__description {
    font-size: var(--size-base);
  }
  .projects__attribute-hr {
    margin-top: var(--size-base);
    margin-bottom: var(--size-base);
  }
  .projects__icon {
    height: var(--size-base);
    width: var(--size-base);
  }
  .projects__attribute {
    font-size: var(--size-base);
    padding-right: var(--size-base);
  }
}

/* xl */
@media (min-width: 1280px) {
  .projects__header-title {
    font-size: var(--size-3xl);
  }
  .projects__container {
    margin-top: 2;
    gap: 2;
  }
  .projects__title {
    font-size: var(--size-2xl);
  }
  .projects__description {
    font-size: var(--size-lg);
  }
  .projects__attribute-hr {
    margin-top: var(--size-lg);
    margin-bottom: var(--size-lg);
  }
  .projects__icon {
    height: var(--size-lg);
    width: var(--size-lg);
  }
  .projects__attribute {
    font-size: var(--size-lg);
    padding-right: var(--size-lg);
  }
}

/* 2xl */
/* @media (min-width: 1536px) {} */
