/* Tasks status selector menu */
.tasks__mobile-menu {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

/* Task Status Button for Mobile */
.tasks__mobile-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.5rem 1rem 0.5rem 1rem;
  font-size: var(--size-xs);
  text-align: left;
  letter-spacing: -0.05em;
  color: var(--clr-primary);
  font-weight: 400;
}
.tasks__mobile-btn_selected {
  color: var(--clr-primary);
  border-bottom: 0.075rem solid var(--clr-gray600);
  letter-spacing: 0;
}
.tasks__mobile-check {
  height: var(--size-base);
  width: var(--size-base);
  margin-top: auto;
  margin-bottom: auto;
}

/* Tasks for Desktop */
.tasks__desktop-container {
  display: none;
  margin-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  gap: 1rem;
}
.tasks__column-title {
  font-size: var(--size-base);
  border-bottom: 0.075rem solid var(--clr-gray600);
  padding: var(--size-xs);
  padding-left: 0;
  padding-bottom: 0;
  color: var(--clr-primary);
  font-weight: 400;
}

/* Tasks Format*/
.tasks__task-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  border: 0.075rem solid var(--clr-gray600);
  border-radius: 5px;
  padding: 0.5rem;
  margin-top: 1rem;
}
.tasks__task-wrapper::after {
  content: "";
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  transition: background-color 0.2s;
}
.tasks__task-wrapper:hover::after {
  background-color: rgb(37, 99, 235, 0.1);
  cursor: pointer;
}
.tasks__task-header {
  display: flex;
  justify-content: space-between;
}

/* Tasks Styling */
.tasks__task-title {
  font-size: var(--size-base);
  color: var(--clr-light);
  font-weight: 400;
}
.tasks__task-description {
  max-width: 60ch;
  color: var(--clr-gray600);
  font-size: var(--size-xs);
}
.tasks__task-attribute {
  color: var(--clr-light);
  font-size: var(--size-xs);
  text-transform: capitalize;
  display: inline;
  padding-right: 0.5rem;
}
.tasks__edit {
  color: var(--clr-light);
  height: var(--size-lg);
  width: var(--size-lg);
  z-index: 2;
  transition: 0.3s;
}
.tasks__edit:hover {
  color: var(--clr-secondary);
}
.tasks__hr {
  margin-top: var(--size-xs);
  margin-bottom: var(--size-xs);
  border-color: var(--clr-gray600);
}
.tasks__icon {
  height: var(--size-xs);
  width: var(--size-xs);
}

.tasks__total {
  color: var(--clr-primary);
  font-weight: 400;
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
@media (min-width: 640px) {
  /* Task Status Button */
  .tasks__mobile-btn {
    font-size: var(--size-sm);
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .tasks__mobile-check {
    height: var(--size-xl);
    width: var(--size-xl);
    margin-top: auto;
    margin-bottom: auto;
  }

  /* Tasks Styling */
  .tasks__task-title {
    font-size: var(--size-xl);
  }
  .tasks__task-description {
    font-size: var(--size-base);
  }
  .tasks__task-attribute {
    font-size: var(--size-base);
    padding-right: 0.75rem;
  }
  .tasks__edit {
    height: var(--size-2xl);
    width: var(--size-2xl);
  }
  .tasks__hr {
    margin-top: var(--size-base);
    margin-bottom: var(--size-base);
  }
  .tasks__icon {
    height: var(--size-base);
    width: var(--size-base);
  }
}

/* m */
/* @media (min-width: 768px) {} */

/* lg */
@media (min-width: 1024px) {
  /* Switch to Destop */
  .tasks__mobile-menu {
    display: none;
  }
  .tasks__desktop-container {
    display: flex;
    padding: 1.5rem 2rem 1.5rem 2rem;
  }
  .tasks__task-wrapper {
    margin: 1rem 0.5rem 0 0.5rem;
  }
  /* Hide selected tasks from mobile */
  .tasks__mobile-column {
    display: none;
  }
  .tasks__mobile-container {
    display: none;
  }

  /* Remove tasks status attribute */
  .tasks_task-attribute_progress {
    display: none;
  }

  /* Tasks Styling */
  .tasks__task-title {
    font-size: var(--size-base);
  }
  .tasks__task-description {
    font-size: var(--size-xs);
  }
  .tasks__task-attribute {
    font-size: var(--size-xs);
    padding-right: 0.5rem;
  }
  .tasks__edit {
    height: var(--size-lg);
    width: var(--size-lg);
  }
  .tasks__hr {
    margin-top: var(--size-xs);
    margin-bottom: var(--size-xs);
  }
  .tasks__icon {
    height: var(--size-xs);
    width: var(--size-xs);
  }
}

/* xl */
@media (min-width: 1280px) {
  /* Tasks for Desktop */
  .tasks__desktop-container {
    gap: 2rem;
  }
  .tasks__column-title {
    font-size: var(--size-lg);
  }

  /* Tasks Styling */
  .tasks__task-title {
    font-size: var(--size-lg);
  }
  .tasks__task-description {
    font-size: var(--size-sm);
  }
  .tasks__task-attribute {
    font-size: var(--size-sm);
    padding-right: 0.75rem;
  }
  .tasks__edit {
    height: var(--size-xl);
    width: var(--size-xl);
  }
  .tasks__hr {
    margin-top: var(--size-sm);
    margin-bottom: var(--size-sm);
  }
  .tasks__icon {
    height: var(--size-sm);
    width: var(--size-sm);
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .tasks__column-title {
    font-size: var(--size-lg);
  }

  /* Tasks Styling */
  .tasks__task-title {
    font-size: var(--size-xl);
  }
  .tasks__task-description {
    font-size: var(--size-base);
  }
  .tasks__task-attribute {
    font-size: var(--size-base);
    padding-right: 1rem;
  }
  .tasks__edit {
    height: var(--size-2xl);
    width: var(--size-2xl);
  }
  .tasks__hr {
    margin-top: var(--size-base);
    margin-bottom: var(--size-base);
  }
  .tasks__icon {
    height: var(--size-base);
    width: var(--size-base);
  }
}
